/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        cmd-left {
            bindings = <&kp LCMD>;
            key-positions = <16 15>;
        };

        cmd-right {
            bindings = <&kp RCMD>;
            key-positions = <19 20>;
        };

        ctr-left {
            bindings = <&kp LCTRL>;
            key-positions = <15 14>;
        };

        ctr-right {
            bindings = <&kp RCTRL>;
            key-positions = <20 21>;
        };
    };

    macros {
        r_asigne: r_asigne {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp SPACE &kp SEMI &kp MINUS &kp SPACE>;
            label = "R_ASIGNE";
        };

        r_pipe: r_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp SPACE &kp SEMI &kp MINUS &kp SPACE>;
            label = "R_PIPE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ENTER   &kp Q  &kp W  &kp E     &kp R    &kp T              &kp Y             &kp U        &kp I      &kp O    &kp P     &kp ESCAPE
&kp ESCAPE  &kp A  &kp S  &kp D     &kp F    &kp G              &kp H             &kp J        &kp K      &kp L    &kp APOS  &kp ENTER
&kp LSHFT   &kp Z  &kp X  &kp C     &kp V    &kp B              &kp N             &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                          &kp LGUI  &kp TAB  &lt 1 BACKSPACE    &mt RSHIFT SPACE  &lt 2 MINUS  &none
            >;
        };

        numbers-arrows {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none                &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp F1    &none     &none           &kp UP_ARROW    &kp PAGE_UP    &none    &none
&none  &kp N0               &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp F2    &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT      &kp END  &none
&none  &kp LS(PRINTSCREEN)  &kp N7        &kp NUMBER_8  &kp N9        &kp F3    &none     &none           &none           &kp PAGE_DOWN  &none    &none
                                          &trans        &trans        &trans    &trans    &trans          &trans
            >;
        };

        simbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none         &none        &r_asigne     &r_pipe          &none          &kp AMPERSAND    &kp TILDE  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp BSPC
&kp KP_EQUAL  &kp PERCENT  &kp AT_SIGN   &kp HASH         &kp DOLLAR     &kp PIPE         &kp GRAVE  &kp LEFT_BRACE   &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp LESS_THAN     &kp GRAVE
&none         &kp PLUS     &kp KP_MINUS  &kp KP_ASTERISK  &kp KP_DIVIDE  &kp EXCL         &kp CARET  &kp PLUS         &kp LBRC               &kp RBRC           &kp PIPE          &kp TILDE
                                         &kp LGUI         &trans         &kp SPACE        &kp RET    &trans           &kp RALT
            >;
        };
    };
};
